{{- range $shard, $e := until (int $.Values.shardCount) }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels: {{ include "jitsi.jicofoShard.labels" (merge (dict "RelativeScope" .) $) | nindent 4 }}
  annotations:
    configmap-hash: {{ include "jitsi.sharedConfigMap.hash" $ }}
  {{- with $.Values.jicofo.extraAnnotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
  name: {{ include "jitsi.name" $ }}-shard-{{ $shard }}-jicofo
  namespace: {{ $.Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels: {{ include "jitsi.jicofoShard.selectorLabels" (merge (dict "RelativeScope" .) $) | nindent 6 }}
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels: {{ include "jitsi.jicofoShard.labels" (merge (dict "RelativeScope" .) $) | nindent 8 }}
      annotations:
        configmap-hash: {{ include "jitsi.sharedConfigMap.hash" $ }}
      {{- with $.Values.jicofo.extraAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
    {{- with $.Values.jicofo.extraPodSpec }}
      {{- toYaml . | nindent 6 }}
    {{- end }}
    {{- if (($.Values.global).serviceAccount) }}
      serviceAccountName: {{ (($.Values.global).serviceAccount) }}
    {{- else }}
      automountServiceAccountToken: false
    {{- end }}
    {{- if $.Values.jicofo.imagePullSecrets }}
      imagePullSecrets:
      {{- range $secretName := $.Values.jicofo.imagePullSecrets }}
      - name: {{ $secretName }}
      {{- end }}
    {{- end }}
      containers:
      - env:
        - name: XMPP_SERVER
          value: {{ include "jitsi.name" $ }}-shard-{{ $shard }}-prosody.{{ $.Release.Namespace }}.svc.cluster.local
        - name: XMPP_DOMAIN
          value: meet.jitsi
        - name: XMPP_AUTH_DOMAIN
          value: auth.meet.jitsi
        - name: XMPP_INTERNAL_MUC_DOMAIN
          value: internal-muc.meet.jitsi
        - name: JICOFO_COMPONENT_SECRET
          valueFrom:
            secretKeyRef:
              key: JICOFO_COMPONENT_SECRET
              name: {{ include "jitsi.sharedSecret.name" $ }}
        - name: JICOFO_AUTH_USER
          value: focus
        - name: JICOFO_AUTH_PASSWORD
          valueFrom:
            secretKeyRef:
              key: JICOFO_AUTH_PASSWORD
              name: {{ include "jitsi.sharedSecret.name" $ }}
        - name: TZ
          valueFrom:
            configMapKeyRef:
              key: TZ
              name: {{ include "jitsi.sharedConfigMap.name" $ }}
        - name: JVB_BREWERY_MUC
          value: jvbbrewery
        - name: JICOFO_ENABLE_HEALTH_CHECKS
          value: "true"
      {{- if $.Values.octo.enabled }}
        - name: ENABLE_OCTO
          value: "true"
        - name: OCTO_BRIDGE_SELECTION_STRATEGY
          value: "RegionBasedBridgeSelectionStrategy"
      {{- end }}
      {{- if $.Values.jicofo.extraEnvs }}
        {{- toYaml $.Values.jicofo.extraEnvs | nindent 8 }}
      {{- end }}
      {{- if $.Values.jicofo.image }}
        image: {{ $.Values.jicofo.image }}
      {{- else }}
        image: jitsi/jicofo:{{ $.Chart.AppVersion }}
      {{- end }}
        imagePullPolicy: {{ $.Values.jicofo.imagePullPolicy }}
        name: jicofo
        ports:
        - containerPort: 8888
          protocol: TCP
          name: rest
        # We don't use /about/health for these probes as that queries whether the JVBs are active
        # We don't want to restart Jicofo just because there are no JVBs
        livenessProbe:
           httpGet:
             path: /about/version
             port: rest
        startupProbe:
          httpGet:
            path: /about/version
            port: rest
        readinessProbe:
          httpGet:
            path: /about/version
            port: rest
      {{- with $.Values.jicofo.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
      {{- end }}
      {{- with $.Values.jicofo.extraContainerSpec }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $.Values.jicofo.extraVolumeMounts }}
        volumeMounts:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with $.Values.jicofo.extraVolumes }}
      volumes:
      {{- toYaml . | nindent 6 }}
    {{- end }}
{{ end }}
